# Terraform state & packages
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/lambda_packages/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
